@media screen and (max-width: 720px) {
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 680px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 570px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 25px;
  flex-direction: column;
}

.left {
  height: 50%;
  width: 100%;
}

.Task {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./tiger.jpg);
  background-size: 25%;
}

.priority {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topup_function {
  position: relative;
  top: -7%;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin: 0px;
}
.right {
  height: 100%;
  width: 100%;
  background: url("./dragon.jpg");
  background-size: contain;
  border-radius: 15px;
  margin: 0;
}

.Task {
  height: 25%;
  width: 100%;
  background-color: aqua;
  border-radius: 15px;
  margin-right: 20em;
  align-items: center;
  justify-content: center;
}

.priority {
  height: 25%;
  width: 100%;
  background: url(./kirin.png);
  background-size: 18%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.addtask {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  width: 100%;
  background: url(./bird.jpg);
  background-size: 18%;
  background-position-y: center top;
  border-radius: 15px;
}

.notitask {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  width: 100%;
  background-size: 10%;
  border-radius: 15px;
}

.pagebtn {
  display: flex;
  height: 8%;
  width: 100%;
  background: url(./cloud.jpg);
  background-size: 10%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

#back {
  position: relative;
  left: 3em;
}

#next {
  position: relative;
  right: 3em;
}
.right .hoist {
  display: flex;
  justify-content: space-between;
  background: yellow;
  margin-bottom: 1em;
}

.blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.right .hoist .function {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checking {
  display: flex;
}

.notification {
  display: none; /* Initially hidden */
  color: blue; /* Example styling */
}

input[type="text"] {
  width: 100vh;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.Task_edit:hover {
  background: green;
  cursor: pointer !important;
}

.Task_del:hover {
  background: red;
  cursor: pointer !important;
}
