@media screen and (max-width: 720px) {
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 680px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 570px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 25px;
}

.left {
  height: 50%;
  width: 20%;
}

.Task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priority {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topup_function {
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 80%;
  margin: 0px;
}
.right {
  height: 95%;
  width: 100%;
  background-color: blueviolet;
  border-radius: 15px;
}

.Task {
  height: 30%;
  width: 100%;
  background-color: aqua;
  border-radius: 15px;
  margin-right: 20em;
}

.priority {
  height: 30%;
  width: 100%;
  background-color: red;
  border-radius: 15px;
}

.addtask {
  display: flex;
  justify-content: space-evenly;
  height: 10%;
  width: 100%;
  background-color: pink;
  border-radius: 15px;
}

.pagebtn {
  display: flex;
  height: 5%;
  width: 100%;
  background-color: pink;
  border-radius: 15px;
}

#back {
  position: relative;
  left: 3em;
}

#next {
  position: relative;
  right: 3em;
}
.right .hoist {
  display: flex;
  justify-content: space-between;
  background: yellow;
  margin-bottom: 1em;
}

.blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.right .hoist .function {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checking {
  display: flex;
}

.notification {
  display: none; /* Initially hidden */
  color: red; /* Example styling */
}

input[type="text"] {
  width: 100vh;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
